html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    border-radius: 15px;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
}

.header-img {
    background-image: url("../images/w09_ice_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}

main h3 {
    text-align: center;
    flex: space;
    margin-top: 40px;
    color: #3f5b8b;
}

main h1 {
    text-align: center;
    flex: space;
    font-weight: bold;
    margin-bottom: 45px;
}

main p {
    text-align: center;
    flex: space;
    padding: 0 55px 0 55px;
    font-size: 1.2em;
    line-height: 1.6em;
    color: grey;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3f5b8b;
    border-radius: 0px 0px 15px 15px;
}
.footer-block {
    padding: 10px 20px;
    line-height: .6em;
}

#center-block {
    border-left: solid grey 1px;
    border-right: solid grey 1px;
}

footer h2 {
    font-size: 1.8em;
    color: white;
    margin-bottom: 0px;
}

footer h3 {
    font-size: .8em;
    color: white;
    margin-top: 
}
